html {
  scroll-behavior: smooth;
}


.mon-bouton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
}

.mon-bouton:hover {
  background-color: #0056b3;
}
