:root{
    --fraise: #ff4757;
    --kiwi: #2ed573;
    --noir: #2f3542;
    --gris-fond: #f1f2f6;
    --blanc: #ffffff;
    --bleu-gps: #1e90ff;
    --or: #ffa502;
    --gris-clair: #f1f2f6;
    --ombre: rgba(255, 71, 87, 0.15);
    --ombre2: rgba(0, 0, 0, 0.1);
}
