body {
    font-family: Arial;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    position: center;
    width: 230px;
    color: white;
    background: black;
}

.menu a {
    display: block;
    padding: 12px;
    color: white;
    text-decoration: none;
}

.submenu {
    width: 230px;
    height: 150px;
    overflow: hidden;
    background: black;
}

.slider {
    display: flex;
    flex-direction: column;
    animation: slide 31.5s infinite;
}

.slider img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

@keyframes slide {
    0%   { transform: translateY(0); }
    10%  { transform: translateY(0); }
    15%  { transform: translateY(-150px); }
   25% { transform: translateY(-150px); }
    30%  { transform: translateY(-300px); }
    40%  { transform: translateY(-300px); }
    45% { transform: translateY(-450px); }
    55%  { transform: translateY(-450px); }
    60% { transform: translateY(-600px); }
    70%  { transform: translateY(-600px); }
    75% { transform: translateY(-750px); }
    85% { transform: translateY(-750px); }
    90% { transform: translateY(-900px); }
100% { transform: translateY(-900px); }
}
