
.box .nom_plat{
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;}

.card-plat{
    width:380px;
    height:260px;
    position:relative;
    overflow:hidden;
    border-radius:18px;
    background:white;
    box-shadow:0 8px 25px rgba(0,0,0,0.15);
    transition:0.3s;
    cursor:pointer;
}

.info-plat h3,
.info-plat p,
.info-plat ul,
.info-plat .prix,
.allergenes h4,
.allergenes p {
    opacity: 0;              
    transition: opacity 0.5s ease}

.card-plat:hover .info-plat h3,
.card-plat:hover .info-plat p,
.card-plat:hover .info-plat ul,
.card-plat:hover .info-plat .prix,
.card-plat:hover .allergenes h4,
.card-plat:hover .allergenes p {
    opacity: 1;              
}

.info-plat h3,
.info-plat p,
.info-plat ul,
.info-plat .prix,
.allergenes h4,
.allergenes p {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.card-plat:hover .info-plat h3,
.card-plat:hover .info-plat p,
.card-plat:hover .info-plat ul,
.card-plat:hover .info-plat .prix,
.card-plat:hover .allergenes h4,
.card-plat:hover .allergenes p {
    opacity: 1;
    transform: translateY(0);
}

.card-plat:hover{
    box-shadow:0 15px 40px rgba(0,0,0,0.25);
    transform: translateY(-5px);
}

.image-plat{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:0.3s;
    position:absolute;
    top:0;
    left:0;
}

.card-plat:hover .image-plat{
    width:50%;     
    height:50%;    
    top:0;
    left:0;
}

.info-plat{
    position:absolute;
    top:0;
    right:0;
    width:50%;     
    height:100%;
    background:transparent;
    padding:15px;
    box-sizing:border-box;
    transition:0.3s;
}


.prix{
    position:absolute;
    bottom:10px;
    right:15px;
    font-weight:bold;
    color:#e63946;
}


.allergenes{
    position:absolute;
    bottom:10px;         
    left:10px;           
    width:40%;          
    background:white;    
    padding:10px;
    text-align:center;
    font-size:14px;
    border-radius:8px;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
    opacity:0;
    transform: translateY(20px);
    transition:0.4s;
}

.card-plat:hover .allergenes{
    opacity:1;
    transform: translateY(0);
}
