
/* début menu*/ 
.card-plat{
    width:380px;
    height:260px;
    position:relative;
    overflow:hidden;
    border-radius:18px;
    background:white;
    box-shadow:0 8px 25px rgba(0,0,0,0.15);
    transition:0.3s;
    cursor:pointer;
}

.info-plat h3,
.info-plat p,
.info-plat ul,
.info-plat .prix,
.allergenes h4,
.allergenes p {
    opacity: 0;              
    transition: opacity 0.5s ease}

.card-plat:hover .info-plat h3,
.card-plat:hover .info-plat p,
.card-plat:hover .info-plat ul,
.card-plat:hover .info-plat .prix,
.card-plat:hover .allergenes h4,
.card-plat:hover .allergenes p {
    opacity: 1;              
}

.info-plat h3,
.info-plat p,
.info-plat ul,
.info-plat .prix,
.allergenes h4,
.allergenes p {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.card-plat:hover .info-plat h3,
.card-plat:hover .info-plat p,
.card-plat:hover .info-plat ul,
.card-plat:hover .info-plat .prix,
.card-plat:hover .allergenes h4,
.card-plat:hover .allergenes p {
    opacity: 1;
    transform: translateY(0);
}

.card-plat:hover{
    box-shadow:0 15px 40px rgba(0,0,0,0.25);
    transform: translateY(-5px);
}

.image-plat{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:0.3s;
    position:absolute;
    top:0;
    left:0;
}

.card-plat:hover .image-plat{
    width:50%;     
    height:50%;    
    top:0;
    left:0;
}

.info-plat{
    position:absolute;
    top:0;
    right:0;
    width:50%;     
    height:100%;
    background:transparent;
    padding:15px;
    box-sizing:border-box;
    transition:0.3s;
}


.prix{
    position:absolute;
    bottom:10px;
    right:15px;
    font-weight:bold;
    color:#e63946;
}


.allergenes{
    position:absolute;
    bottom:10px;         
    left:10px;           
    width:40%;          
    background:white;    
    padding:10px;
    text-align:center;
    font-size:14px;
    border-radius:8px;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
    opacity:0;
    transform: translateY(20px);
    transition:0.4s;
}

.card-plat:hover .allergenes{
    opacity:1;
    transform: translateY(0);
}
.promo{
    width:100%;
    background:#d9d9d9;
    text-align:center;
    padding:15px;
    font-size:50px;
    font-weight:bold;
}

.menu-container{             
    margin:20px auto;          
}
.menu{
    display:flex;
    flex-wrap:wrap;  
    justify-content:left;
    gap:30px;
}
.box{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.nom_plat{
    font-size:22px;
    font-weight:bold;
    margin-top:10px;
}

@media screen and (max-width: 900px){
    .menu-container{
        width:90%;
    }
}

.layout{
    display:flex;
    width:100%;
}
.menu-container{
    width:80%;
    padding:40px;
    box-sizing:border-box;
}
.sidebar{
    width:34%;
    background:#f0f0f0;
    min-height:100vh;
}
/*fin menu*/
/*Debut du header*/
*{
    box-sizing: border-box; 
}

body{
    margin: 0;
    padding-top: 70px;  
}

.header1{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 30px;   
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.gauche1 img{
    width: 110px;
}

.milieu1{
    display: flex;
    gap: 25px;  
    font-size: 20px;
}

.droite1{
    font-size: 20px;
}

.header1 a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: 0.3s; 
}

.droite1 a{
    background-color: #0077cc;
    color: white ;
    padding: 8px 20px;
    border-radius: 25px; 
    transition: background 0.3s ease;
}

.bouton-inscription{
    color: #0077cc;
    border: 2px solid #0077cc;
    background-color: transparent;
}

.bouton-inscription:hover{
    background-color: #005fa3;
    border-color: #005fa3;
    text-decoration: none ;
}

.boutin-connexion{
    background-color: #0077cc;
    color: white;
    border: 2px solid #0077cc;
}

.bouton-connexion:hover{
    background-color: #005fa3;
    border-color: #005fa3;
    text-decoration: none;
}

.milieu1 a{
    position: relative;
    padding-bottom: 5px;
}

.milieu1 a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0077cc;
    transition: width 0.3s;
}

.milieu1 a:hover::after{
    width: 100%;
}

@media (max-width: 900px){
    .header1 {
        flex-wrap: wrap;
        padding: 10px 20px;
    }

    .droite1{
        justify-content: center;
        margin-top: 15px;
    }

    .milieu1{
        width: 100%;
        justify-content: center;
        margin-top: 10px;
        gap: 25px;
    }
}
/*Fin du header*/
/*début footer*/
.footer {
    background-color: #f4f4f4;
    color: black;
    padding: 40px 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto; 
    gap: 40px;
}

.footer-top-left{
    grid-column: 1;
    grid-row: 1;
}

.footer-center {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
}

.footer-top-right{
    grid-column: 3;
    grid-row: 1;
    text-align: right;
}

.footer-center{
    grid-column: 2;
    grid-row: 1;
    text-align: center;
}

.footer-center a{
    display: block;
    margin: 8px 0;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.footer-center a:hover{
    font-weight: 800;
}

.footer-bottom-left {
    grid-column: 1;
    grid-row: 2;
    font-size: 14px;
}

.footer-bottom-right{
    grid-column: 3;
    grid-row: 2;
    text-align: right;
}
.footer-bottom-middle{
    grid-column: 2;
    grid-row: 2;
}

.footer-bottom-right img{
    width: 50px;
    height: 50px;
    margin-left: 10px;
}
/*fin header*/