.menu{
    min-height: 800px;
    border: 8px solid black;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}


.box{
    height: 250px;
    width: 250px;
    padding: 10px;
    border-radius: 12px;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box img{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
.box .plat{
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;

}
.header1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    height: 80px;
}

.gauche1{
    flex: 1;
    margin-left: auto;
}
.milieu1{
    flex: 1;
}
.droite1{
    flex:1;
    margin-right: auto;
}
