body { 
    font-family: sans-serif; 
    background: #f4f4f4; 
    padding: 20px; 
    display: flex; 
    justify-content: center; 
}

.card { 
    background: white; 
    padding: 25px; 
    border-radius: 12px; 
    width: 450px; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
}

.recap-item { 
    display: flex; 
    justify-content: space-between; 
    padding: 8px 0; 
    border-bottom: 1px solid #eee; 
}

.total { 
    font-size: 22px; 
    font-weight: bold; 
    text-align: right; 
    margin: 20px 0; 
}

.options { 
    background: #f9f9f9; 
    padding: 15px; 
    border-radius: 8px; 
    margin-bottom: 20px; 
    border: 1px solid #ddd; 
}

.btn-pay { 
    background: #000; 
    color: white; 
    border: none; 
    padding: 15px; 
    width: 100%; 
    border-radius: 6px; 
    font-weight: bold; 
    cursor: pointer; 
    font-size: 16px; 
}
