body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

.section {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 80px;
    resize: none;
}

/* Etoiles */
.rating {
    direction: rtl;
    display: inline-flex;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 35px;
    color: lightgray;
    cursor: pointer;
}

.rating label:hover,
.rating label:hover ~ label,
.rating input:checked ~ label {
    color: gold;
}
#total {
    font-size: 20px;
    color: #333;
}
.section p strong {
    font-weight: bold;
}

/* Bouton */
.submit {
    width: 100%;
    padding: 12px;
    border: none;
    background: #4CAF50;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

.submit:hover {
    background: #45a049;
}
